* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}
header nav {
    background-color: #f1bbd5;
    
    padding: 15px;
}

/* .banner_principal {
    width: 100%;
    height: 400px;
    background-image: url(../img/bannerprincipal.png) ;
    background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
} */
h2 {
    padding: 16px;
}

section {
    padding: 16px;
}

.btn-morado{
    background-color: #B08AF0 ;
    border: solid 2px #B08AF0;
    color: white;
}

.btn-morado:hover{
    background-color: #9F37F0 ;
    border: solid 2px #9F37F0;
    color: white;
}
.productos{
    padding: 16px;
    border: solid;
    margin-top: 20px;
    margin-bottom: 20px;
}

.secciones {
    padding: 16px;
    border: solid;
    margin-top: 20px;
    margin-bottom: 20px;
}
form {
    margin-top: 20px;
    margin-bottom: 20px;
}
footer{
    background-color: #f1bbd5;
    
    padding: 15px;
}