header nav {
    background-color: $color-primario;
    
    padding: 15px;
}

/* .banner_principal {
    width: 100%;
    height: 400px;
    background-image: url(../img/bannerprincipal.png) ;
    background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
} */
h2 {
    padding: 16px;
}

section {
    padding: 16px;
}